<div class="trip-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.chapoutier.com/media/cache//Oenotourisme/b/a/balade_location_velo_1132x720.jpg);">
  <div class="container">
    <h1><strong><%= trip.title.capitalize %></strong></h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <div class="btn-placeholder d-flex justify-content-center">
      <a class="btn btn-primary" href="#">Apply now</a>
    </div>
  </div>
</div>
