<% if trip.reviews.count > 0 %>
    <% trip.reviews.each do |review| %>
        <div class="card w-50 mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= review.rating %>/10</h5>
                <p class="card-text"><%= review.content %></p>
                <%=link_to "Modifier", edit_review_path(review), class: "btn btn-light"%>
                <%= link_to "Supprimer", review_path(trip), 
                data: { turbo_method:  :delete, 
                        turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet avis ?"  
                                                     },
                class: "btn btn-danger"%>   
            </div>
        </div>
    <% end %>
<% else %>
    <p> Il n'y a pas encore d'avis pour cet itinérarire </p>
<% end %>