<div class= "container mt-5">
    <%= link_to "Retour", trip_path(@trip), class: "link-secondary" %>
    <h1> Modifiez cet itinéraire </h1>
    <div class= "mt-4 bg-light p-5 rounded ">
      <%= render 'form', trip: @trip  %>
    </div>
</div>
