<div class= "container mt-5">
    <h1> Ajoutez un nouvel itinéraire </h1>
    <%= link_to "Retour", root_path, class: "link-secondary" %>
    <div class= "mt-4 bg-light p-5 rounded ">
     <%= render 'form', trip: @trip  %>
    </div>
</div>
