<div class= "container mt-5">
    <%= link_to "Retour", root_path %>
    <h1> Détail de l'itinéraire: <%= @trip.title %> </h1>
    <%= link_to "Supprimer", trip_path(@trip),
        data: { turbo_method: :delete, 
                turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet itinéraire ?"  
              } 
    %>
</div> 