<%= simple_form_for [trip_location] do |f| %>
 <div class= "row g-3">
    <%= simple_fields_for(location) do |l| %>
      <div class = "col-md-12">
        <%= l.input :address %>
      </div>
    <% end %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
