<div class= "container mt-5">
  <% if params[:starting_location] %>
    <h1>Ajouter un point de départ</h1>
  <% elsif params[:target_location] %>
    <h1>Ajouter un point d'arrivée</h1>
  <% end %>
    <%= link_to "Retour",trip_path(@trip), class: "link-secondary"%>
    <div class= "mt-4 bg-light p-5 rounded ">
      <%= render "create_form", trip: @trip, trip_location: @trip_location, location: @location %>
    </div>
</div>



